.main-description__fastening {
  position: relative;
  margin-left: 190px;
}

@media screen and (max-width: 1550px) {
  .main-description__fastening {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}

@media screen and (max-width: 800px) {
  .main-description__fastening {
    width: 90%;
  }
}
