.portfolio__background {
  position: absolute;
  top: -112px;
  left: -358px;
  z-index: -1;
  animation: portfolio__background 120s ease-in-out infinite;
}

@keyframes portfolio__background {
  0% {
    top: -112px;
    left: -358px;
  }
  20% {
    top: -255px;
    left: 32%;
    transform: rotate(60deg);
  }
  40% {
    top: 166px;
    left: -9%;
    transform: rotate(-60deg);
  }
  60% {
    top: -34px;
    left: 32%;
    transform: rotate(60deg);
  }

  100% {
    top: -112px;
    left: -358px;
    transform: rotate(-60deg);
  }
}

@media screen and (max-width: 960px) {
  .portfolio__background {
    top: -48px;
    width: 130%;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__background {
    top: 80px;
    width: 153%;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__background {
    width: 168%;
    left: -281px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio__background {
    top: 195px;
  }
}
