.header {
  margin: 0 2.733% 0 10%;
  align-items: center;
  height: 70px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1550px) {
  .header {
    margin-left: 6%;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    gap: 2%;
    align-items: center;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 30px;
    margin: 0;
  }
}
