/* .header__navigation {
  margin: 0 0 7px auto;
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  width: 713px;
}

@media screen and (max-width: 1200px) {
  .header__navigation {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .header__navigation {
    width: 62%;
  }
} */
