.portfolio-description__about-application {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 47.405%;
}

@media screen and (max-width: 999px) {
  .portfolio-description__about-application {
    max-width: 67%;
  }
}

@media screen and (max-width: 999px) {
  .portfolio-description__about-application {
    max-width: 100%;
  }
}
