.category__description {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

@media screen and (max-width: 970px) {
  .category__description {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .category__description {
    font-size: 18px;
  }
}
