.category__heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1240px) {
  .category__heading {
    display: flex;
    justify-content: center;
  }
}
