.about-description__heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  color: #ee4235;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
