.header__list_active-type_white {
  padding: 17px 45px 20px 45px;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 4px;
  color: #000;
}

@media screen and (max-width: 1220px) {
  .header__list_active-type_white {
    border-radius: 0;
  }
}
