.portfolio-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000;
  padding: 86px 0 0 0;
}
