.category__cards {
  display: flex;
  flex-direction: column;
  gap: 77px;
  margin-top: 52px;
  margin-left: 17px;
}

@media screen and (max-width: 1400px) {
  .category__cards {
    gap: 40px;
    margin-left: 0;
  }
}
