.about__description {
  margin: 25px 0 0 31px;
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
}

@media screen and (max-width: 1800px) {
  .about__description {
    font-size: 40px;
    line-height: 58px;
  }
}

@media screen and (max-width: 650px) {
  .about__description {
    font-size: 30px;
    line-height: 46px;
  }
}
