.header-wrapper {
  background: url(../../images/main-background1.png);
  background-position: -3px 0;
  padding-top: 33px;
  background-repeat: no-repeat;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (max-width: 1550px) {
  .header-wrapper {
    background-size: 100% 106%;
  }
}
